/* Universal Selector */
* {
    margin:0;
    padding:0; 
  }

/* Element Selectors */
body {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: cornflowerblue;
    color:aliceblue
}

h1, h2 {
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

nav li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

header h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#hero {
    image-rendering: auto;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/IMG_2056.jpeg");
    background-size: cover;
    background-position: center;
}

.bottom-left{
    position: absolute;
    font-size: 200%;
    background-color: cornflowerblue;
    bottom: 16px;
    left: 1%;
}

.special-color{
    color: cornflowerblue;
}